:root {
  --header: rgb(255, 224, 71);
  --menu: rgb(253, 211, 0);
  --text-white: #fff;
  --hover: rgb(255, 200, 0);
  --feed: rgb(254, 237, 185);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--feed);
}